body{
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.flex-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
@media screen and (max-width: 640px){
	.flex-wrap{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px;
	}
}

.flex-item{
	padding: 20px;
	width: 110px;
	box-sizing: content-box;
	border: 1px solid #f00;
}
.cont1{
	height: 100px;
}
.cont2{
	height: 80px;
}
.cont3{
	height: 20px;
}
.cont4{
	height: 180px;
	border: 1px solid #0f0;
}
@media (max-width: 640px){
	.cont4{
		order: -1;
		margin-bottom: 20px;
	}
}